@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a basic web application built with ASP.NET.<br />
       This app will allow you to create, edit, and delete users into a local database. <br />
       You are also allowed to search for these users based on job title and location. <br /><br />
       Find this project and others on my <a href="https://github.com/ericbruning22">GitHub Account.</a></p>
</div>
